---
layout: archive
permalink: /publications/
title: "Research"
author_profile: true
---

{% include base_path %}

## Preprints
{% assign preprints = site.publications | where: "category", "preprints" | sort: "date" | reverse %}
<ul>
{% for p in preprints %}
  {% include pub_compact_li.html p=p %}
{% endfor %}
</ul>

## Journal Articles
{% assign journals = site.publications | where: "category", "manuscripts" | sort: "date" | reverse %}
<ol>
{% for p in journals %}
  {% include pub_compact_li.html p=p %}
{% endfor %}
</ol>

## Conference Papers
{% assign confs = site.publications | where: "category", "conferences" | sort: "date" | reverse %}
<ol>
{% for p in confs %}
  {% include pub_compact_li.html p=p %}
{% endfor %}
</ol>
