---
layout: archive
permalink: /publications/
title: "Research"
author_profile: true
---

{% include base_path %}

<h2>Preprints</h2>
{% assign preprints = site.publications | where: "category", "preprints" | sort: "date" | reverse %}
<ol>
  {% for p in preprints %}
    {% include pub_compact_li.html p=p %}
  {% endfor %}
</ol>

<h2>Journal Articles</h2>
{% assign journals = site.publications | where: "category", "manuscripts" | sort: "date" | reverse %}
<ol>
  {% for p in journals %}
    {% include pub_compact_li.html p=p %}
  {% endfor %}
</ol>

<h2>Conference Papers</h2>
{% assign confs = site.publications | where: "category", "conferences" | sort: "date" | reverse %}
<ol>
  {% for p in confs %}
    {% include pub_compact_li.html p=p %}
  {% endfor %}
</ol>
