---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% assign talk_items = site.talks | sort: "date" | reverse %}

<ul class="compact-list talks-list">
  {% for post in talk_items %}
    <li class="compact-list__item">
      <div class="compact-list__title">{{ post.title }}</div>
      <div class="compact-list__meta">
        {% if post.type %}{{ post.type }}{% endif %}
        {% if post.venue %}, {{ post.venue }}{% endif %}
        {% if post.location %}, {{ post.location }}{% endif %}
        {% if post.date %} &mdash; {{ post.date | date: "%b %Y" }}{% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
