---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% assign teaching_items = site.teaching | sort: "date" | reverse %}

<ul class="compact-list teaching-list">
  {% for post in teaching_items %}
    {% unless post.title == "Teaching experience 1" or post.title == "Teaching experience 2" %}
    <li class="compact-list__item">
      <div class="compact-list__title">{{ post.title }}</div>
      <div class="compact-list__meta">
        {% if post.type %}{{ post.type }}{% endif %}
        {% if post.venue %}, {{ post.venue }}{% endif %}
        {% if post.excerpt %} &mdash; {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}
      </div>
    </li>
    {% endunless %}
  {% endfor %}
</ul>
