{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="site-nav-bar" aria-label="Primary">
        <ul class="site-nav-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="site-nav-links__item {% if page.url == link.url or (link.url != '/' and page.url contains link.url) %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li id="theme-toggle" class="site-nav-links__item site-nav-links__toggle theme-switcher">
            <button
              type="button"
              class="theme-switcher__button"
              aria-label="Theme: Auto. Click to change theme"
              title="Theme: Auto"
            >
              <i id="theme-icon" class="fa-solid fa-circle-half-stroke" aria-hidden="true"></i>
              <span id="theme-label" class="theme-switcher__label">Auto</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
